### Preparation

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r"C:\Users\dioog\Instacart Basket Analysis"

In [4]:
ords_prods_merge = pd.read_pickle(os.path.join(path, "02 Data", "02 Prepared data", "orders_products_merged_w_new_columns.pkl"))

In [5]:
ords_prods_merge.shape

(32404859, 22)

### In this Exercise, you learned how to find the aggregated mean of the “orders_day_of_the_week” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [6]:
ords_prods_merge.groupby("department_id").agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code

In [ ]:
# There are more departments. Avarages differ slightly as expected due to the fact that the sample size is bigger.

### Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [7]:
ords_prods_merge["max_order"] = ords_prods_merge.groupby(["user_id"])["order_number"].transform(np.max)

In [8]:
ords_prods_merge.head()

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_day,max_order
0,0,0,2539329,1,1,2,8,NaN,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,1,1,2398795,1,2,3,7,15.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,2,2,473747,1,3,3,12,21.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,3,3,2254736,1,4,4,7,29.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,4,4,431534,1,5,4,15,28.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10

### Creating flag with loc() function

In [9]:
ords_prods_merge.loc[ords_prods_merge["max_order"] > 40, "Loyalty_flag"] = "Loyal customer"

In [10]:
ords_prods_merge.loc[(ords_prods_merge["max_order"] > 10) & 
                     (ords_prods_merge["max_order"] <= 40),
                     "Loyalty_flag"] = "Regular customer"

In [11]:
ords_prods_merge.loc[ords_prods_merge["max_order"] <= 10, "Loyalty_flag"] = "New customer"

In [13]:
ords_prods_merge["Loyalty_flag"].value_counts (dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: Loyalty_flag, dtype: int64

In [22]:
ords_prods_merge[["user_id", "Loyalty_flag", "order_number"]].head(25)

    user_id      Loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2

### The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [14]:
ords_prods_merge.groupby('Loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
Loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0


### The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

##### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

##### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [26]:
ords_prods_merge["avg_expense"] = ords_prods_merge.groupby(["user_id"])["prices"].transform(np.mean)

In [32]:
ords_prods_merge.head()

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_day,max_order,Loyalty_flag,spending_flag,avg_expense,Spending_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,Low spender,6.367797,Low spender
1,1,1,2398795,1,2,3,7,15.0,196,1,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,Low spender,6.367797,Low spender
2,2,2,473747,1,3,3,12,21.0,196,1,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,Low spender,6.367797,Low spender
3,3,3,2254736,1,4,4,7,29.0,196,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,Low spender,6.367797,Low spender
4,4,4,431534,1,5,4,15,28.0,196,1,...,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,Low spender,6.367797,Low spender

In [29]:
ords_prods_merge.loc[ords_prods_merge["avg_expense"] >= 10, "Spending_flag"] = "High spender"

In [30]:
ords_prods_merge.loc[ords_prods_merge["avg_expense"] < 10, "Spending_flag"] = "Low spender"

In [31]:
ords_prods_merge["Spending_flag"].value_counts (dropna = False)

Low spender     31770742
High spender      634117
Name: Spending_flag, dtype: int64


### In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

##### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

##### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

##### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [33]:
ords_prods_merge["median_frequency"] = ords_prods_merge.groupby(["user_id"])["days_since_prior_order"].transform(np.median)

In [38]:
ords_prods_merge.head()

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_day,max_order,Loyalty_flag,spending_flag,avg_expense,Spending_flag,median_frequency
0,0,0,2539329,1,1,2,8,NaN,196,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,Low spender,6.367797,Low spender,20.5
1,1,1,2398795,1,2,3,7,15.0,196,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,Low spender,6.367797,Low spender,20.5
2,2,2,473747,1,3,3,12,21.0,196,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,Low spender,6.367797,Low spender,20.5
3,3,3,2254736,1,4,4,7,29.0,196,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,Low spender,6.367797,Low spender,20.5
4,4,4,431534,1,5,4,15,28.0,196,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,Low spender,6.367797,Low spender,20.5

In [36]:
ords_prods_merge["median_frequency"].value_counts (dropna = False)

7.0     5682399
6.0     2983604
8.0     2713964
5.0     2486061
4.0     2314289
         ...
26.5       5514
29.5       5095
1.5        1684
0.5         235
NaN           5
Name: median_frequency, Length: 62, dtype: int64

In [39]:
ords_prods_merge.loc[ords_prods_merge["median_frequency"] <= 10, "Frequency_flag"] = "Frequent customer"

In [40]:
ords_prods_merge.loc[(ords_prods_merge["median_frequency"] > 10) &
                     (ords_prods_merge["median_frequency"] <= 20),
                     "Frequency_flag"] = "Regular customer"

In [41]:
ords_prods_merge.loc[ords_prods_merge["median_frequency"] > 20, "Frequency_flag"] = "Non-frequent customer"

In [42]:
ords_prods_merge["Frequency_flag"].value_counts (dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: Frequency_flag, dtype: int64

### Exporting

In [44]:
ords_prods_merge.to_csv(os.path.join(path, "02 Data", "02 Prepared Data", "orders_products_merged_Vs2.csv"))

In [ ]:
# exporting to pkl not possible due to memory